
@model Trgovina.Models.Product

@{
    ViewBag.Title = "dohvatiSveProizvode";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>dohvatiSveProizvode</h2>
@Html.DisplayNameFor(model => model.Product)

